<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steer.demo.dao.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.steer.demo.model.Cart">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="cart_num" property="cartNum" />
        <result column="good_id" property="goodId" />
        <result column="status" property="status" />
        <result column="true_price" property="truePrice" />
        <result column="user_id" property="userId" />
        <association column="good_id" property="productInfo" javaType="com.steer.demo.model.Good">
            <id column="id" property="id"></id>
            <result column="store_name" property="storeName"></result>
            <result column="stock" property="stock"></result>
            <result column="image" property="image"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ac.id,ac.create_time,ac.update_time,ac.cart_num, ac.good_id, ac.status, ac.user_id, ac.true_price,
        g.id,g.store_name,g.stock,g.image
    </sql>

    <sql id="Base_Table">
        app_cart ac
    </sql>

    <sql id="Good_Table">
        app_good g
    </sql>

    <select id="selectValidListByUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="Base_Table" />,<include refid="Good_Table" />
        WHERE
        ac.user_id = #{userId}
        AND
        ac.status = 0
        AND
        ac.good_id = g.id
    </select>

    <select id="selectInvalidListByUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="Base_Table" />,<include refid="Good_Table" />
        WHERE
        ac.user_id = #{userId}
        AND
        ac.status = 9
        AND
        ac.good_id = g.id
    </select>

</mapper>
